.History{
	position: relative;

	& .History-right{
		position:absolute;
		bottom:0;
		right:15px;
		height:auto;
		overflow-y:scroll;
		overflow-x:none;
		border: 1px solid rgba(0, 0, 0, 0.125);
		top:0.5em;
		background:$white;

		&>.History-heading{
			background-color:$brand-primary;
			color:$brand-secondary;
			padding:10px;
		}
		
	}

}

